
.header {
  height: 60px;
  width: 768px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-left: 15px;
  position: fixed;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .header {
    position: relative;
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: center;
    height: 80px;
    max-width: 100%;
    padding-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 1600px;
    padding-bottom: 10px;
    padding-top: 0px;
    padding-left: 0px;
  }
}
.header__logo {
  width: 134px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: 0.28;
  letter-spacing: 0.03em;
  left: 20px;
  bottom: 20px;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 145px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 0.31;
    letter-spacing: 0.03em;
    padding-top: 46px;
    padding-bottom: 10px;
    position: absolute;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    width: 145px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 0.31;
    letter-spacing: 0.03em;
    padding-top: 46px;
    padding-bottom: 10px;
    position: absolute;
  }
}
.header .header.container {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
