
.form__fieldset {
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  outline: 0;
  border: 0;
  display: block;
  position: relative;
}
@media screen and (min-width: 480px) {
  .form__fieldset {
    padding-left: 40px;
  }
}
.form__title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 17px;
  line-height: 2.3;
  text-align: center;
  letter-spacing: 0.03;
  color: var(--secondary-color);
}
@media screen and (min-width: 480px) {
  .form__title {
    font-size: 20px;
  }
}
.form__fieldset--label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.01;
  color: var(--contacts-color);
  position: absolute;
  margin-top: -20px;
}
.form__fieldset--input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 40px;
  width: 270px;
  border-radius: 4px;
  transition-property: border;
  padding-left: 40px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
@media screen and (min-width: 480px) {
  .form__fieldset--input {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .form__fieldset--input {
    width: 448px;
  }
}
.form__fieldset--input:focus {
  border-color: var(--primary-color);
  outline: 0;
}
.form__fieldset--icon {
  position: absolute;
  margin-top: 12px;
  margin-left: 15px;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.form__fieldset--comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 120px;
  width: 270px;
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .form__fieldset--comment {
    width: 370px;
  }
}
@media screen and (min-width: 480px) and (min-width: 1200px) {
  .form__fieldset--comment {
    width: 448px;
  }
}
.form__fieldset--comment:focus {
  border-color: var(--primary-color);
  outline: 0;
}
.form__fieldset--comment:has(textarea:focus) {
  border: 1px var(--primary-color) solid;
}
.form__fieldset--textarea {
  margin-top: 2px;
  position: absolute;
  width: 200px;
  height: 96px;
  resize: none;
  border: 0;
  padding-top: 12px;
  padding-left: 16px;
}
@media screen and (min-width: 480px) {
  .form__fieldset--textarea {
    width: 320px;
  }
}
@media screen and (min-width: 1200px) {
  .form__fieldset--textarea {
    width: 416px;
  }
}
.form__fieldset--textarea:focus {
  outline: 0;
  border: 0;
}
.form__fieldset--textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 1%;
  color: rgba(117, 117, 117, 0.5);
  margin-bottom: 20px;
}
.form__fieldset--textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 1%;
  color: rgba(117, 117, 117, 0.5);
  margin-bottom: 20px;
}
.form__fieldset--textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 1%;
  color: rgba(117, 117, 117, 0.5);
  margin-bottom: 20px;
}
.form__fieldset:has(input:focus) .form__fieldset--icon {
  fill: var(--primary-color);
}
.form__fieldset--checkbox {
  outline: 0;
  border: 0;
  position: relative;
  margin-left: 54px;
  margin-top: -5px;
  font-size: 14px;
  line-height: 1.46;
  font-weight: 400;
  color: #757575;
  letter-spacing: 0.03;
}
.form__fieldset--checkbox a {
  color: var(--primary-color);
  text-decoration: underline;
}
.form__fieldset--checkbox-icon-custom {
  width: 16px;
  height: 15px;
  border: 2px Solid #212121;
  position: absolute;
  margin-top: 3px;
  margin-left: -2px;
  border-radius: 2px;
}
.form__fieldset--checkbox-input {
  opacity: 0;
  position: absolute;
  z-index: 2;
  margin-top: 4px;
}
.form__fieldset--checkbox-icon {
  fill: #fff;
  width: 16px;
  height: 15px;
  position: absolute;
  margin-top: 3px;
  margin-left: -2px;
  padding: 2px;
}
.form__fieldset--checkbox-text {
  margin-left: 20px;
}
.form__fieldset--checkbox input:checked ~ .form__fieldset--checkbox-icon {
  fill: #fff;
  width: 16px;
  height: 15px;
  padding: 4px 3px;
  background-color: var(--primary-color);
  border-radius: 2px;
  position: absolute;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.form__fieldset--button {
  width: 200px;
  height: 50px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 55px;
  border: 0;
  cursor: pointer;
}
@media screen and (min-width: 480px) {
  .form__fieldset--button {
    margin-left: 120px;
  }
}
@media screen and (min-width: 768px) {
  .form__fieldset--button {
    margin-left: 130px;
  }
}
@media screen and (min-width: 1200px) {
  .form__fieldset--button {
    margin-left: 164px;
  }
}
.form__fieldset--button__fieldset--button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.button-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 94px;
}
.button-list__single-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.button-list__single-button:hover {
  color: #fff;
  background: var(--primary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  color: #212121;
  background-color: #fff;
}
.container {
  min-width: 320px;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

:root {
  --primary-color: #2196f3;
  --secondary-color: #212121;
  --social-footer-color: rgba(255, 255, 255, 0.1);
  --clients-color: #afb1b8;
  --white-color: #fff;
  --contacts-list-color: #757575;
  --mobile: 480px;
  --tablet: 768px;
  --desktop: 1200px;
}
.logo__blue {
  color: var(--primary-color);
}
.logo__white {
  color: #fff;
}
.logo__black {
  color: #000;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #757575;
}
.basic-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 16 15 0;
}
@media screen and (min-width: 768px) {
  .basic-container {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1200px) {
  .basic-container {
    margin: 0 auto;
    padding: 0 15;
  }
}
.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}
h4 {
  color: var(--secondary-color);
}
h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.03;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-color);
}
address {
  font-style: normal;
}
a {
  text-decoration: none;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
a:visited {
  color: none;
}
a:hover {
  color: var(--primary-color);
}
ul {
  display: flex;
}
li {
  list-style-type: none;
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  transition-property: opacity, visibility, transform;
  transition-duration: 0.5s;
}


