.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  color: #000;
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0);
  color: var(--primary-color);
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.js-open-menu {
  position: absolute;
  right: 15px;
  bottom: 7px;
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #fff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}
.mobile-menu__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  flex-direction: column;
  font-size: 40px;
  color: #000;
}
@media (min-width: 767px) {
  .mobile-menu__list {
    display: none;
  }
}
.mobile-menu__listlink {
  padding: 10px;
  display: block;
  padding: 10px;
  color: #000;
  text-decoration: none;
}
.mobile-menu__listlink .mobile-menu__listhover,
.mobile-menu__listlink .mobile-menu__listfocus {
  color: var(--primary-color);
}
.mobile-menu__link-contact {
  display: flex;
  flex-direction: column;
}
.mobile-menu__list-contact {
  padding-top: 240px;
  margin-left: -30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.mobile-menu__link-contact-tel {
  font-weight: 500;
  font-size: 24px;
  line-height: 0.4;
  letter-spacing: 0.02em;
  color: #757575;
}
@media screen and (min-width: 480px) {
  .mobile-menu__link-contact-tel {
    font-size: 34px;
  }
}
.mobile-menu__link-contact-mailto {
  font-weight: 500;
  font-size: 20px;
  line-height: 0.28;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
@media screen and (min-width: 480px) {
  .mobile-menu__link-contact-mailto {
    font-size: 34px;
  }
}
.mobile-menu__list-social {
  padding-top: 40px;
  margin-left: -30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.mobile-menu__link-social {
  font-weight: 500;
  font-size: 10px;
  line-height: 0.22;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
@media screen and (min-width: 480px) {
  .mobile-menu__link-social {
    font-size: 18px;
  }
}
.mobile-menu__item-social:not(:last-child) .mobile-menu__link-social {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-menu a:visited {
  color: #000;
}
.js-close-menu {
  position: absolute;
  right: 20px;
}
