.header .nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header .nav {
    display: flex;
    justify-content: center;
    gap: 60px;
    left: 200px;
    top: 18px;
    position: absolute;
  }
}
@media screen and (min-width: 1200px) {
  .header .nav {
    justify-content: space-between;
    gap: 46px;
    max-width: 254px;
    left: 230px;
    top: 18px;
    position: absolute;
  }
}
.header .nav__underline {
  position: relative;
}
.header .nav__underline::after {
  position: absolute;
  content: '';
  width: 53px;
  height: 4px;
  background-color: var(--primary-color);
  margin-top: 42px;
  left: 0;
  width: 100%;
}
.header .nav__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.16;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.header .contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .header .contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 540px;
    margin-top: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .header .contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 18px;
    padding-left: 250px;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .header .contacts__list {
    transition-property: fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }
  .header .contacts__list:hover .contacts__list--icon {
    color: var(--primary-color);
    fill: var(--primary-color);
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) {
  .header .contacts__list--e-mail {
    width: 161px;
    height: 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 0.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition-property: fill, color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }
  .header .contacts__list--e-mail:hover {
    color: var(--primary-color);
    fill: var(--primary-color);
    cursor: pointer;
  }
}
@media screen and (min-width: 1200px) {
  .header .contacts__list--e-mail {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 0.16;
  }
}
@media screen and (min-width: 768px) {
  .header .contacts__list--ph-number {
    width: 161px;
    height: 16px;
    color: #757575;
    font-weight: 500;
    font-size: 12px;
    line-height: 0.14;
    letter-spacing: 0.02em;
    transition-property: fill, color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    margin-left: -1px;
  }
  .header .contacts__list--ph-number:hover {
    color: var(--primary-color);
    fill: var(--primary-color);
    cursor: pointer;
  }
}
@media screen and (min-width: 1200px) {
  .header .contacts__list--ph-number {
    font-size: 14px;
    line-height: 0.16;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
  }
}
@media screen and (min-width: 768px) {
  .header .contacts__list--icon {
    fill: var(--contacts-list-color);
    width: 12px;
    height: 16px;
    margin-right: 5px;
    margin-bottom: -3px;
  }
  .header .contacts__list--icon:hover a {
    fill: var(--primary-color);
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header .contacts__list--icon {
    width: 16px;
    height: 20px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .header .contacts__list--icon-envelope {
    margin-right: 5px;
    margin-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .header .contacts__list--icon-envelope {
    width: 20px;
    height: 16px;
    margin-right: 3px;
    margin-top: 2px;
  }
}
