.footer {
  background-color: #2f303a;
  color: var(--color-white);
  padding: 60px 0;

  &__display {
    display: flex;
    align-items: baseline;
    margin: 0 auto;
    &__social {
      margin-left: 50px;
    }
  }
}

.footer-display {
  display: flex;
  align-items: baseline;
  margin: 0 auto;
}

.footer__address {
  padding: 5px;
}

.icon-sm-footer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: var(--color-white-dark);
}

.icon-sm-footer:hover {
  background-color: var(--hover-color);
}

.icon-box-footer {
  margin-right: 10px;
}

.icon-box-footer:last-child {
  margin-right: 0;
}

.footer-social-link {
  @include center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  fill: var(--color-white-dark);
  background: rgba(255, 255, 255, 0.1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer__joinus__icons {
  display: flex;
  margin-top: 20px;
}
.joinus__icons {
  fill: var(--color-white-dark);
}

.footer__joinus__margin {
  margin-right: 10px;
}

.footer__joinus__margin:last-child {
  margin-right: 0;
}

.footer__joinus__link {
  @include center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
}
.footer__joinus__link:hover,
.footer__joinus__link:focus {
  background-color: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social__list {
  @include center;
  gap: 10px;
}

.social__list__link {
  @include center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--color-grey-light);
  background-color: var(--color-white-dark);
}

.social__list__link:hover,
.social__list__link:focus {
  background-color: var(--hover-color);
  fill: var(--color-white-dark);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

