:root {
  --color-black: #212121;
  --color-white: #ffffff;
  --color-white-dark: #f5f4fa;
  --color-grey-light: #afb1b8;
  --color-grey: #757575;
  --hover-color: #2196f3;
  --background-color: #e5e5e5;
}
